@model ProductsViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Customer Register</h4>
<hr />


<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Stock)
        </th>
        <th>
            <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Customer</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products) {
        <tr>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.ProductId"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>