@model ProductDetailViewModel

<h1>@Model.Product.Name</h1>

<div class="thumbnail">
    <img alt="@Model.Product.Name" src="@Model.Product.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Product.Price</h3>
        <h3>@Model.Product.Name"</h3>
        <p>@Model.Product.Description</p>
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-productId="@Model.Product.ProductId">Add to Cart</a>
        </p>
    </div>
</div>


<div id="reviews">
    <h2>Loading Reviews...</h2>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "@Url.Action("GetReviews","Product")",
            type: "GET",
            data: { productId : @Model.Product.ProductId },
            success: function (result) {
                $("#reviews").html(result);
            }
        });
    });

</script>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}
*@